$primary: #DB4C38;

@font-face {
  font-family: 'Rawgly';
  src: url('fonts/Rawgly-Regular.eot');
  src: url('fonts/Rawgly-Regular.eot?#iefix') format('embedded-opentype'),
      url('fonts/Rawgly-Regular.woff2') format('woff2'),
      url('fonts/Rawgly-Regular.woff') format('woff'),
      url('fonts/Rawgly-Regular.ttf') format('truetype'),
      url('fonts/Rawgly-Regular.svg#Rawgly-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Petit Formal Script';
  src: url('fonts/PetitFormalScript-Regular.eot');
  src: url('fonts/PetitFormalScript-Regular.eot?#iefix') format('embedded-opentype'),
      url('fonts/PetitFormalScript-Regular.woff2') format('woff2'),
      url('fonts/PetitFormalScript-Regular.woff') format('woff'),
      url('fonts/PetitFormalScript-Regular.ttf') format('truetype'),
      url('fonts/PetitFormalScript-Regular.svg#PetitFormalScript-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



/* BREAKPOINTS */
@mixin breakpoint($point) {
    @if $point == desktop {
      @media (min-width: 80em) {
        @content;
      }
    } @else if $point == laptop {
      @media (min-width: 64em) {
        @content;
      }
    } @else if $point == tablet {
      @media (min-width: 50em) {
        @content;
      }
    } @else if $point == phablet {
      @media (min-width: 37.5em) {
        @content;
      }
    } @else if $point == mobileonly {
      @media (max-width: 37.5em) {
        @content;
      }
    }
    @else if $point == untilTablet {
      @media (max-width: 60em) {
        @content;
      }
    }
}