@import 'variables';
@import 'components';
@import 'navbar';
@import 'sidebar';
@import 'index';


body {
    transition: all .4s ease;
    left: 0;
    position: relative;
    overflow-x: hidden;

    &.sidebar-active {
        left: 30%;
        position: relative;
        transition: all .4s ease;

        @include breakpoint(untilTablet) {
            left: 100%;
        }

        .hero .image {
            visibility: hidden;
            opacity: 0;
            transition: all .4s ease;
        }
    }
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: inherit;
    }
}

ul, ol {
    list-style-type: none;
}

.container-fluid {
    padding: 0 5rem;

    @include breakpoint(untilTablet) {
        padding: 0 1rem;
    }
}